<%- include('header'); -%>
<!-- elimination chart -->
    <div class="container">
      
        <div class="first-round box">
<!--(1)---------------------------------------------------------->
            <div class="col-title">1st</div>    
            <div class="team bb pd">
                -
            </div>
            <div class="team br">
                -
            </div>

<!--(2)----------------------------------------------------------->            
        <div class="separator-11"></div>         
            <div class="team bb br">
                2.MT <span class="rez">0</span>
            </div>
            <div class="team">
                <span class="today le">12:20 va<br>13.10.23.</span>
                <span class="b">1.S</span> <span class="rez g b">0</span>     
            </div>
<!--(3)----------------------------------------------------------->
        <div class="separator-1"></div>
            <div class="team bb">
                2.PT <span class="rez br">0</span>
            </div>
            <div class="team br">
                <span class="b">2.RT</span> <span class="rez g b">0</span>
            </div>

<!--(4)---------------------------------------------------------->            
        <div class="separator-11"></div>          
            <div class="team bb br">
                <span class="b">1.MT</span> <span class="rez g b">0</span>
            </div>
            <div class="team">
                3.MT <span class="rez br">0</span>
            </div>
        <div class="separator-1"></div>


<!--(5)---------------------------------------------------------->
            <div class="team bb">
               3.EL <span class="rez br">0</span>
            </div>
            <div class="team br">
                1.P <span class="rez br">0</span>
            </div>
<!--(6)---------------------------------------------------------->
        <div class="separator-11"></div>
            
            <div class="team bb br">
                3.RT <span class="rez">0</span>
            </div>
            <div class="team">
                <span class="b">4.PT</span> <span class="rez g b">0</span>
            </div>
<!--(7)---------------------------------------------------------->
        <div class="separator-1"></div>        
            
            <div class="team bb">
                <span class="b">1.EL</span> <span class="rez g b">0</span>
            </div>
            <div class="team br">
                3.S<span class="rez">0</span>
            </div>
<!--(8)---------------------------------------------------------->

        <div class="separator-11"></div>
            <div class="team bb br">
                ---
            </div>
            <div class="team">
                ---
            </div>

<!--(9)---------------------------------------------------------->            
        <div class="separator-1"></div>
            <div class="team bb">
                ---
            </div>
            <div class="team br">
                ---
            </div>
<!--(10)----------------------------------------------------------> 
        <div class="separator-11"></div>
            <div class="team bb br">
                <span class="b">2.P</span> <span class="rez g b">0</span>
            </div>
            <div class="team">
                1.SP <span class="rez br">0</span>
            </div>
<!--(11)----------------------------------------------------------> 
    <div class="separator-1"></div>
            <div class="team bb">
                3.PT <span class="rez br">0</span>
            </div>
            <div class="team br">
                <span class="b">2.SP</span> <span class="rez g b">0</span>
                
            </div>

<!--(12)---------------------------------------------------------->             
    <div class="separator-11"></div>
            <div class="team bb br">
                1.PT <span class="rez br">0</span>
            </div>
            <div class="team">
                <span class="b">3.P</span> <span class="rez g b">0</span>
            </div>
<!--(13)----------------------------------------------------------> 
    <div class="separator-1"></div>
            <div class="team bb">
                ---
            </div>
            <div class="team br">
                ---
            </div>
<!--(14)----------------------------------------------------------> 
    <div class="separator-11"></div>
            <div class="team bb br">
                <span class="b">3.SP</span> <span class="rez g b ">0</span>
            </div>
            <div class="team">
                1.RT <span class="rez br">0</span>
            </div>

<!--(15)---------------------------------------------------------->             
    <div class="separator-1"></div>
            <div class="team bb">
                2.EL <span class="rez br">0</span>
            </div>
            <div class="team br">
                <span class="b">KM</span> <span class="rez g b ">0</span>
            </div>

<!--(16)---------------------------------------------------------->  
    <div class="separator-11"></div>
            <div class="team bb br">
                --- 
            </div>
            <div class="team">
                ---
            </div>               
</div>
        
        <!--***************************second round******************************************-->
        <div class="second-round box">
            
            <div class="col-title">2nd</div>
            <div class="sstart">

            </div>
<!--(17)---------------------------------------------------------------->
            <span id="box17" onclick="getDetails(0)">
                <div class="team bb">
                    <span class="b">Prof</span> <span class="rez g b ">0</span>
                </div>
                <div class="small-box">
                <div class="team br mb2">
                    <span class="today le">13:35 dv</span>
                    --- <span class="rez br">0</span>
                </div>   
                </div>
            </span>
    <div class="separator-2"></div>
<!--(18)------------------------------------------------------------------->
            <span id="box18" onclick="getDetails(1)">
                <div class="team bb br">
                    <span class="b">---</span> <span class="rez g b">0</span>
                </div>  
                <div class="team">
                    --- <span class="rez br">0</span>
                </div>
            </span>
<!--(19)------------------------------------------------------------------->
    <div class="separator-2-noline"></div>
            <span id="box19" onclick="getDetails(2)">
                <div class="team bb">
                    <span class="b">---</span> <span class="rez g b">0</span>
                </div>
                <div class="team br">
                    --- <span class="rez br">0</span>
                </div>
            </span>    
<!--(20)------------------------------------------------------------------->
    <div class="separator-2"></div>
            <span id="box20" onclick="getDetails(3)">
                <div class="team bb br">
                    --- <span class="rez br">0</span>
                    
                </div>
                <div class="team s2">
                    <span class="b">4.RT</span> <span class="rez g b">0</span>
                </div>
            </span>
 <!--(21)------------------------------------------------------------------->
    <div class="separator-2-noline"></div>
            <span id="box21" onclick="getDetails(4)">
                <div class="team bb">
                    <span class="b">2.S</span> <span class="rez g b">0</span>
                </div>
                <div class="team br mb2">
                    --- <span class="rez br">0</span>
                </div>
            </span>
<!--(22)------------------------------------------------------------------->
    <div class="separator-2"></div>
            <span id="box22" onclick="getDetails(5)">
                <div class="team bb br">
                    <span class="b">---</span> <span class="rez g b">0</span>
                </div>
                <div class="team s21">
                    --- <span class="rez br">0</span>
                </div>
            </span>    
<!--(23)------------------------------------------------------------------->
    <div class="separator-2-noline"></div>
            <span id="box23" onclick="getDetails(6)">
                <div class="team bb">
                    <span class="b">4.EL</span> <span class="rez g b">0</span>
                </div>
                <div class="team br mb2">
                    --- <span class="rez br">0</span>
                </div>
            </span>
<!--(24)------------------------------------------------------------------->
    <div class="separator-2"></div>
            <span id="box24" onclick="getDetails(7)">
                <div class="team bb br">
                    <span class="b">---</span> <span class="rez g b">0</span>
                </div>
                <div class="team s2">
                    4.MT
                    <span class="rez br">0</span>
                </div>
            </span>
        </div>
        <div class="box">
            finals
        </div>
</div>


 <%- include('footer'); -%>