
<%- include('header'); -%>
<!-- elimination chart -->
    <div class="container">
        <div class="box"></div>
 <!--------------------------1st--1---------------------------------->   
 
 <!--(1 nv)-1-4-------------------------------------------------------------------->
        <div class="null-round box">
            <!--1-->
            
            <div class="col-title">1st</div>    
            
            
            <div class="team bb pd wh">
                -
            </div>
            <div class="team br wh">
                -
            </div>
        <div class="separator-00 wh"></div>
            
            <div class="team bb br wh">
                2.S <span class="rez wh">0</span>
            </div>
            <div class="team wh">
                <span class="b">3.EL</span> <span class="rez g b wh">2</span>     
                <!-- 
                 <span class="b">3.EL</span> <span class="rez g b">2</span>   
                 -->
                     
            </div>
        <div class="separator-0"></div>

<!--(2)-5-8-------------------------------------------------------------------->
            <div class="team bb">
                2.MT <span class="rez br">0</span>
            </div>
            <div class="team br">
                <span class="b today">12:20 vani</span> <span class="rez g b wh">0</span>
            </div>
        <div class="separator-00"></div>
            
            <div class="team bb br">
                <span class="b">1.S</span> <span class="rez g b">0</span>
            </div>
            <div class="team wh">
                --- <span class="rez br wh">0</span>
            </div>



<!--(3)--9-12------------------------------------------------------------------------>
        <div class="separator-0"></div>
            
            <div class="team bb">
               -
            </div>
            <div class="team br">
                -
            </div>
        <div class="separator-00"></div>
            
            <div class="team bb br">
                2.PT <span class="rez">0</span>
            </div>
            <div class="team">
                <span class="b">4.PT</span> <span class="rez g b">1</span>
            </div>

<!--(4)--13-16------------------------------------------------------------------------>
        <div class="separator-0"></div>        
            
            <div class="team bb">
                <span class="b">3.S</span> <span class="rez g b">4</span>
            </div>
            <div class="team br">
                1.EL<span class="rez">1</span>
            </div>
        <div class="separator-00"></div>
            <div class="team bb br">
                -
            </div>
            <div class="team">
                -
            </div>
<!--(5)----17-20--------------------------------------------------------------------->
        <div class="separator-0"></div>
            <!--8-->
            <div class="team bb">
                -
            </div>
            <div class="team br">
                -
            </div>

        <div class="separator-00"></div>
            <div class="team bb br">
                <span class="b">3.P</span> <span class="rez g b">4</span>
            </div>
            <div class="team">
                1.PT <span class="rez br">1</span>
            </div>
<!--(6)--21-24------------------------------------------------------------------------>
    <div class="separator-0"></div>
            <div class="team bb">
                2.S <span class="rez br p0">4(5)</span>
            </div>
            <div class="team br">
                <span class="b">1.P</span> <span class="rez g b p0">4(6)</span>
                
            </div>
    <div class="separator-00"></div>
            <div class="team bb br">
                1.MT <span class="rez br">0</span>
            </div>
            <div class="team">
                <span class="b">2.RT</span> <span class="rez g b ">1</span>
            </div>
          


<!--(7)--25-28------------------------------------------------------------------------>
    <div class="separator-0"></div>
            <div class="team bb">
                -
            </div>
            <div class="team br">
                -
            </div>

    <div class="separator-00"></div>
            <div class="team bb br">
                <span class="b">3.RT</span> <span class="rez g b ">2</span>
            </div>
            <div class="team">
                2.MT <span class="rez br">0</span>
            </div>



<!--(8 nv)--29-32------------------------------------------------------------------------>            
    <div class="separator-0"></div>
            <div class="team bb wh">
                1.SPppppp <span class="rez br wh">1</span>
            </div>
            <div class="team br wh">
                <span class="b wh">2.EL</span> <span class="rez g b wh">10</span>
            </div>
    <div class="separator-00 wh"></div>
            <div class="team bb br wh">
                2.P <span class="rez br wh">0</span>
            </div>
            <div class="team wh">
                <span class="b wh">1.RT</span> <span class="rez g b wh">2</span>
            </div>               
        

 <!--------------------------1st--2-------------------------------- -->

 
<!--(9 nv)--33-36------------------------------------------------------------------------>    
    <div class="team bb pd wh">
        999999
    </div>
    <div class="team br wh">
        -
    </div>
<div class="separator-00 wh"></div>
    
    <div class="team bb br wh">
        2.S <span class="rez wh">0</span>
    </div>
    <div class="team wh">
        <span class="b wh">3.EL</span> <span class="rez g b wh">2</span>     
        <!-- 
         <span class="b">3.EL</span> <span class="rez g b">2</span>   
         -->
             
    </div>



<!--(10)--37-40------------------------------------------------------------------------>   
<div class="separator-0"></div>
    <div class="team bb">
        K/Mkkkk <span class="rez br">0</span>
    </div>
    <div class="team br">
        <span class="b">3.MT</span> <span class="rez g b">1</span>
    </div>
<div class="separator-00"></div>
    
    <div class="team bb br">
        <span class="b">3.PT</span> <span class="rez g b">1</span>
    </div>
    <div class="team">
        1.S <span class="rez br">0</span>
    </div>




<!--(11)--41-44------------------------------------------------------------------------>    
<div class="separator-0"></div>
    <!--8-->
    <div class="team bb">
       11 11 11 11
    </div>
    <div class="team br">
        -
    </div>
<div class="separator-00"></div>
    
    <div class="team bb br">
        2.PT <span class="rez">0</span>
    </div>
    <div class="team">
        <span class="b">4.PT</span> <span class="rez g b">1</span>
    </div>




<!--(12)--45-48------------------------------------------------------------------------>    
<div class="separator-0"></div>        
    
    <div class="team bb">
        <span class="b">12 12 12 12 </span> <span class="rez g b">4</span>
    </div>
    <div class="team br">
        1.EL<span class="rez">1</span>
    </div>
<div class="separator-00"></div>
    <div class="team bb br">
        -
    </div>
    <div class="team">
        -
    </div>


<!--(13 nv)--49-52------------------------------------------------------------------------>    
<div class="separator-0 wh"></div>
    <!--8-->
    <div class="team bb wh">
        13 13 13
    </div>
    <div class="team br wh">
        -
    </div>

<div class="separator-00 wh"></div>
    <div class="team bb br wh">
        <span class="b wh">3.P</span> <span class="rez g b wh">4</span>
    </div>
    <div class="team wh">
        1.PT <span class="rez br wh">1</span>
    </div>



<!--(14)--53-56------------------------------------------------------------------------> 
<div class="separator-0"></div>
    <div class="team bb">
        14 14 14 <span class="rez br p0">4(5)</span>
    </div>
    <div class="team br">
        <span class="b">1.P</span> <span class="rez g b p0">4(6)</span>
        
    </div>
<div class="separator-00"></div>
    <div class="team bb br">
        1.MT <span class="rez br">0</span>
    </div>
    <div class="team">
        <span class="b">2.RT</span> <span class="rez g b ">1</span>
    </div>



<!--(15)--57-60------------------------------------------------------------------------>    
<div class="separator-0"></div>
    <div class="team bb">
        15 15 15
    </div>
    <div class="team br">
        -
    </div>

<div class="separator-00"></div>
    <div class="team bb br">
        <span class="b">3.RT</span> <span class="rez g b ">2</span>
    </div>
    <div class="team">
        2.MT <span class="rez br">0</span>
    </div>


<!--(16 nv)--61-64------------------------------------------------------------------------>  
<div class="separator-0 wh"></div>
    <div class="team bb wh">
        1.SP <span class="rez br wh">1</span>
    </div>
    <div class="team br wh">
        <span class="b wh">2.EL</span> <span class="rez g b wh">10</span>
    </div>
<div class="separator-00 wh"></div>
    <div class="team bb br wh">
        2.P <span class="rez br wh">0</span>
    </div>
    <div class="team wh">
        <span class="b wh">1.RT</span> <span class="rez g b wh">2</span>
    </div>               
</div>








<!---------------------------------2nd----------------------------------------->
        <div class="first-round box">
            <!--8-->
            <div class="col-title">2nd</div> 
            <div class="s2-start"></div>   
            <div class="team bb pd">
                -
            </div>
            <div class="team br">
                -
            </div>
        <div class="separator-11"></div>
            
            <div class="team bb br">
                2.S <span class="rez">0</span>
            </div>
            <div class="team">
                <span class="b">3.EL</span> <span class="rez g b">2</span>     
                <!-- 
                 <span class="b">3.EL</span> <span class="rez g b">2</span>   
                 -->
                     
            </div>
        <div class="separator-1"></div>
            <div class="team bb">
                K/M <span class="rez br">0</span>
            </div>
            <div class="team br">
                <span class="b">3.MT</span> <span class="rez g b">1</span>
            </div>
        <div class="separator-11"></div>
            
            <div class="team bb br">
                <span class="b">3.PT</span> <span class="rez g b">1</span>
            </div>
            <div class="team">
                1.S <span class="rez br">0</span>
            </div>
        <div class="separator-1"></div>
            <!--8-->
            <div class="team bb">
               -
            </div>
            <div class="team br">
                -
            </div>
        <div class="separator-11"></div>
            
            <div class="team bb br">
                2.PT <span class="rez">0</span>
            </div>
            <div class="team">
                <span class="b">4.PT</span> <span class="rez g b">1</span>
            </div>
        <div class="separator-1"></div>        
            
            <div class="team bb">
                <span class="b">3.S</span> <span class="rez g b">4</span>
            </div>
            <div class="team br">
                1.EL<span class="rez">1</span>
            </div>
        <div class="separator-11"></div>
            <div class="team bb br">
                -
            </div>
            <div class="team">
                -
            </div>
        <div class="separator-1"></div>
            <!--8-->
            <div class="team bb">
                -
            </div>
            <div class="team br">
                -
            </div>

        <div class="separator-11"></div>
            <div class="team bb br">
                <span class="b">3.P</span> <span class="rez g b">4</span>
            </div>
            <div class="team">
                1.PT <span class="rez br">1</span>
            </div>

    <div class="separator-1"></div>
            <div class="team bb">
                2.SP <span class="rez br p0">4(5)</span>
            </div>
            <div class="team br">
                <span class="b">1.P</span> <span class="rez g b p0">4(6)</span>
                
            </div>
    <div class="separator-11"></div>
            <div class="team bb br">
                1.MT <span class="rez br">0</span>
            </div>
            <div class="team">
                <span class="b">2.RT</span> <span class="rez g b ">1</span>
            </div>
            <!--8-->
    <div class="separator-1"></div>
            <div class="team bb">
                -
            </div>
            <div class="team br">
                -
            </div>

    <div class="separator-11"></div>
            <div class="team bb br">
                <span class="b">3.RT</span> <span class="rez g b ">2</span>
            </div>
            <div class="team">
                2.MT <span class="rez br">0</span>
            </div>
    <div class="separator-1"></div>
            <div class="team bb">
                1.SP <span class="rez br">1</span>
            </div>
            <div class="team br">
                <span class="b">2.EL</span> <span class="rez g b ">10</span>
            </div>
    <div class="separator-11"></div>
            <div class="team bb br">
                2.P <span class="rez br">0</span>
            </div>
            <div class="team">
                <span class="b">1.RT</span> <span class="rez g b ">2</span>
            </div>               
        </div>
        
        <div class="box middle">
            <div class="middle">
                <a class="btn-1" href="/">finals</a>
            </div>
            
        </div>    

 <%- include('footer'); -%>