<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="TSD futsal 23/24"> 
    <meta property="og:description" content="App za praćenje rezultata"> 
    <meta property="og:image" content="social.jpg"> 
    <meta property="og:url" content="https://tsdfutsal23-fa1623a6b9bf.herokuapp.com/"> 
    <link rel="stylesheet" href="style.css">
    <title>TSD soccer</title>
</head>
<body>
    <div class="nav">
        <h3 class="logo">
            <a href="/">TŠD futsal 23/24</a>    
        </h3>
        <a href="bestplayers2ndquarter">top strijelci</a>
        <a href="about">o app</a>

    </div>