
<%- include('header'); -%>
<!-- elimination chart -->
    <div class="container">
    <div class="box middle">
        <a href="/first" class="btn">first round</a>
    </div>

<!--***************************3rd******************************************-->
        <div class="second-round box">
            
            <div class="col-title">3rd</div>
            <div class="sstart">

            </div>
            <!--17-->
            <span id="box17" onclick="getDetails(0)">
                <div class="team bb">
                    <span class="b">3.SP</span> <span class="rez g b ">1</span>
                </div>
                <div class="small-box">
                <div class="team br mb2">
                    3.EL <span class="rez br">0</span>
                </div>   
                </div>
            </span>
    <div class="separator-2"></div>
            <!--18-->
            <span id="box18" onclick="getDetails(1)">
                <div class="team bb br">
                    <span class="b">3.MT</span> <span class="rez g b p0">2(4)</span>
                </div>  
                <div class="team">
                    3.PT <span class="rez br p0">2(2)</span>
                </div>
            </span>
            <!--19-->
    <div class="separator-2-noline"></div>
            <span id="box19" onclick="getDetails(2)">
                <div class="team bb">
                    <span class="b">4.RT</span> <span class="rez g b">1</span>
                </div>
                <div class="team br">
                    4.PT <span class="rez br">0</span>
                </div>
            </span>    
            <!--20-->
    <div class="separator-2"></div>
            <span id="box20" onclick="getDetails(3)">
                <div class="team bb br">
                    3.S <span class="rez br p0">1(1)</span>
                    
                </div>
                <div class="team s2">
                    <span class="b">4.MT</span> <span class="rez g b p0">1(2)</span>
                </div>
            </span>
            <!--21-->
    <div class="separator-2-noline"></div>
            <span id="box21" onclick="getDetails(4)">
                <div class="team bb">
                    <span class="b">PROF</span> <span class="rez g b">1</span>
                </div>
                <div class="team br mb2">
                    3.P <span class="rez br">0</span>
                </div>
            </span>
            <!--22-->
    <div class="separator-2"></div>
            <span id="box22" onclick="getDetails(5)">
                <div class="team bb br">
                    <span class="b">1.P</span> <span class="rez g b p0">1(3)</span>
                </div>
                <div class="team s21">
                    2.RT <span class="rez br p0">1(2)</span>
                </div>
            </span>    
            <!--23-->
    <div class="separator-2-noline"></div>
            <span id="box23" onclick="getDetails(6)">
                <div class="team bb">
                    <span class="b">4.EL</span> <span class="rez g b p0">3(5)</span>
                </div>
                <div class="team br mb2">
                    3.RT <span class="rez br p0">3(3)</span>
                </div>
            </span>
            <!--24-->
    <div class="separator-2"></div>
            <span id="box24" onclick="getDetails(7)">
                <div class="team bb br">
                    <span class="b">2.EL</span> <span class="rez g b p0">0(3)</span>
                </div>
                <div class="team s2">
                    1.RT
                    <span class="rez br p0">0(2)</span>
                </div>
            </span>
        </div>

        <!--***************************quarter******************************************
<span class="today">danas</span> -->
        <div class="quarter-round box">
            <div class="col-title">quarter</div>
    <div class="s3-start"></div>
            <!--25-->
            <span id="box25" onclick="getDetails(8)">
                <div class="team bb">
                    3.SP
                    <span class="rez br">0</span>
                </div>
                <div class="team br">
                    <span class="b">3.MT</span> <span class="rez g b">1</span>
                    
                </div>
            </span>    
            <!--26-->
    <div class="separator-q"></div>  
            <span class="match" id="box26" onclick="getDetails(9)">
                <div class="team bb br">
                    <span class="b">4.RT</span> <span class="rez g b">1</span>
                </div>  
                <div class="team">
                    4.MT <span class="rez br">0</span>
                </div>
            </span>    
            <!--27-->
    <div class="separator-q-noline"></div> 
    <span class="match" id="box26" onclick="getDetails(10)">
            <div class="team bb">
                <span class="b">PROF</span> <span class="rez g b">7</span>
                
            </div>
            <div class="team br">
                1.P<span class="rez br">1</span>
            </div>
            </span>  
            <!--28-->
    <div class="separator-q"></div> 
    <span class="match" id="box28" onclick="getDetails(11)">
            <div class="team bb br">
                
                4.EL<span class="rez br">1</span>
            </div>
            <div class="team">
                <span class="b">2.EL</span> <span class="rez g b">2</span>
                
            </div>
        </div>
        </span>  

        <!--***************************sfinals******************************************-->

        <div class="semi-finals box">
            <div class="col-title">sfinals</div>
            <div class="sq-start"></div>
            <!--8-->
            <span class="match" id="box29" onclick="getDetails(12)">
            <div class="team bb">
                3.MT<span class="rez br">0</span>
            </div>
            
            <div class="team br">
                
                <span class="b">4.RT</span> <span class="rez g b">1</span>
            </div>
            </span>
            <div class="separator-s">
              <div class="stand">
                
                <div class="today">1.mj<br>🥇<br>PROF</div>
                 <div class="today gray">2.mj<br>🥈<br>&nbsp;4.RT&nbsp;</div>
                  
              </div>
                 
                
                
            </div> 
            <span class="match" id="box29" onclick="getDetails(13)">
                <div class="team bb br bq">
                    <span class="b">PROF</span> <span class="rez g b">5</span>
                    
                </div>  
                
                
                <div class="team s3">
                    2.EL<span class="rez br">0</span>
                </div>
            </span>

        </div>

        <!--***************************finals******************************************-->
        <div class="finals box">
            <div class="col-title">finals</div>
            <div class="finals-start">

            </div>
            <!--8-->
            <span class="match" onclick="getDetails(14)">
                <div class="team bb">
                    4.RT<span class="rez br">0</span>   
                </div>
                    
                <div class="team">
                    <span class="b">🏆PROF</span> <span class="rez g b">2</span>
                </div>   
            </span>
            
        </div>

        <!--***************************winner******************************************
        <div class="finals box">
            <div class="col-title">winner</div>
            <div class="ssemi-start">

            </div>
            
            <div class="team bb">
                🏆winner
            </div>
            
         -->   
        </div>
    
    </div>



    

 <%- include('footer'); -%>