*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --nav-bg-color:rgba(0, 0, 0, 0.05);
    /*--border-right-color:rgb(219, 213, 213);*/
    --border-right-color:rgba(0, 0, 0, 0.7);
    --phases-pink-color:rgb(234,74,170);
    --today-yellow-color:#ffe08a;
}
.container{  
    display: flex;
    width: 100%;
    height: 95vh;
    gap: 1.5vw;    
}
.dn{
    display: none;
}

.nav{
    display: flex;
    gap: 5%;
    height: 5vh;
    background-color: var(--nav-bg-color);
    align-items: center;
    border-bottom:1px solid var(--border-right-color);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
a:hover{
    color: var(--phases-pink-color);
}
.box{
    flex: 1;
}
.team{
    display: block;
    position: relative;
    text-align: center;
    font-size: 1.3vh;
}
/*div[class^="test"]:hover*/

.rez{
    position: absolute;
    right: 0;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid var(--border-right-color);
    border-right: none;
}
.p0{
    padding: 0;
}
.g{
    background-color: greenyellow;
    border: 1px solid green;
    /*border-radius: 5px;*/
    
}
.b{
    font-weight: bold;
}
/*all metch white*/
.wh{
    color: white;
    border: white;
    background-color: white;
}
.le{
  position: absolute;
  left: 2px; 
  top:-8px;
}
.separator-1{
    height: 3.5vh; 
    
}
.separator-11{
    height: 2vh;   
    border-right: 1px solid var(--border-right-color);
}
.separator-2{
    height: 8.9vh;   
    border-right: 1px solid var(--border-right-color);
}
.separator-2-noline{
    height: 8.9vh;      
}
.separator-q{
    height: 20vh; 
    border-right: 1px solid var(--border-right-color);   
}
.separator-q-noline{
    height: 23vh;    
}
.separator-s{
    height: 50vh; 
    border-right: 1px solid var(--border-right-color);   
}


.pb{
    margin-bottom: 1vh;
}
.bb{
    border-bottom: 3px solid var(--border-right-color);
}
.br{
    border-right: 1px solid var(--border-right-color);
}
.today{
    color: var(--phases-pink-color);
    font-weight: bold;
    background-color: yellow;
    border: 1px solid var(--phases-pink-color);
    border-radius: 3px;
    text-align: center;
}
.info{
    color: var(--phases-pink-color);
    font-weight: bold;
    background-color: yellow;
    border: 1px solid var(--phases-pink-color);
    border-radius: 3px;
    text-align: center;
}


/*sec round*/

/*3 round*/
.s3-start{
    display: block;
    height: 9%;
}
.mb3{
    margin-bottom: 18vh;
}
.s3{
    display: block;
    height: 20%; 
}

/*q round*/
.sq-start{
    display: block;
    height: 21%;
}
.mbq{
    margin-bottom: 40vh;
}
/*semifinals*/
.finals-start{
    display: block;
    height: 49%;
}
.mbs{
    margin-bottom: 40vh;
}


.s{
    display: block;
    height: 1%;  
}
.ss{
    display: block;
    height: 6%;   
}
.sstart{
    display: block;
    height: 3%;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--border-right-color);
}
a:hover{
    /*border-bottom: 3px solid rgb(234,74,170);*/
    transform: scale(1.2);
}
.logo{
    margin-left: 30px;
}
.logo:hover{
    transform: scale(1.2);
}
.col-title{
    text-align: center;
    color: var(--phases-pink-color);
    font-weight: bold;
}

.new-entry{
    color: red;
}
abbr{
    text-decoration: none;
}


/*bestplayers.html*/
.bp-space{
    padding-top: 1vw;
}
table{
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}
th{
    background-color: greenyellow;
    color: green;
}
th, td{
    text-align: center;
    border: 1px solid #ddd;
    height: 5vh;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

select{
    margin-left: 10vw;
    height: 40px;
    font-size: 20px;
    border: 1px solid #ddd;
}
option{
    font-size: 20px;
}
/*
option:first-child{
    background-color: rgba(234,74,170, 0.4);
}*/
.optFirst{
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
}

/*about*/
.card{
    display: flex;
    height: 30vh;
    gap: 10vw;
    justify-content: center;
    align-items: center;
}
.card img{
    width: 50px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.info{
    margin: 10px 30px;   
}
.legend{
    margin: 30px 200px;   
}
.info-staff{
    margin: 10px 20px 20px 20px; /*t r b l*/
}
.web-traffic{
    width: 100%;
    display: flex;
    
}
.web-traffic img{
    width: 80%;
    margin:auto;
}
/*
.winn-cup{
    position: absolute;
    font-size: 30px;
}
.finals .winn-cup{
    position: relative;
}
*/
.separator-s{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.stand{
    display: flex;
    gap:5px;
}
.gray{
    background-color: #f2f2f2;
}
.winn-cup{
    font-size: 30px;
}
@media(max-width:650px){
    .stand{
        flex-direction: column;
    }
}

@media(max-height:400px){

    .info{
        margin: 20px; 
    } 
    .container{
        height: 150vh;
    }
    
    .separator-1{
        height: 5.3vh; 
        
    }

    .separator-11{
        height: 4.1vh;   
        border-right: 1px solid var(--border-right-color);
    }
    .separator-2{
        height: 16vh;   
        border-right: 1px solid var(--border-right-color);
    }
    .separator-2-noline{
        height: 15vh;      
    }
    .separator-q{
        height: 45vh; 
        border-right: 1px solid var(--border-right-color);   
    }
    .separator-q-noline{
        height: 40vh;    
    }
    .separator-s{
        height: 100vh; 
        border-right: 1px solid var(--border-right-color);   
    }

    .first-round .team{
        font-size: 12px;
    }
    .second-round .team{
        font-size: 16px;
    }
    .quarter-round .team{
        font-size: 16px;
    }
    .semi-finals .team{
        font-size: 16px;
    }
    .finals .team{
        font-size: 16px;
    }
    .finals-start{
        height: 57%;
    }
}






